<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HeroesVillainsCore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    
    <div class="body-content">
        <div class="jumbotron jumbotron-fluid" style="text-align:center; margin-bottom:0; margin-left:0; margin-right:0">
            <div class="container">
                <img src="~/Assets/images/title.png" class="img-fluid">
                <hr class="my-4">
                <p>You can try searching for "Deadpool"</p>

                @using (Html.BeginForm("Index", "HeroVillain", FormMethod.Post))
                {
                    <div class="form-inline my-2 my-lg-0" style="place-content:center;">
                        <input class="form-control mr-sm-2" name="search" style="max-width: 75%; margin-right: 0px;" type="search" placeholder="Hero or villain name" aria-label="Search" id="txtSearch">
                        <button class="btn btn-primary my-2 my-sm-0" type="submit" id="btnSearch" onclick="setLocalSuggest()">Search</button>
                    </div>
                }

            </div>
        </div>
         @RenderBody()
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
