
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NotFound</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body style=" margin: 0;">
    <div class="background-not-found" >
        <img class="image-not-found" src="~/Assets/images/TitleNotFound.png" />
        <p style="font-size: 80px; font-family: HeroesLegend">404</p>
        <h1>@ViewBag.ErrorMessage</h1>
    </div>
</body>
</html>
