@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <div class="container">
        <div class="profile-card">
            <img src="https://www.superherodb.com/pictures2/portraits/10/100/835.jpg" class="img img-fluid">
            <div class="profile-name">DEADPOOL</div>
            <div class="profile-side">Villian</div>
            <div class="profile-realname">Real Name</div>
            <div class="profile-gender">Gender:</div>
        </div>
    </div>
</div>
