@model IEnumerable<HeroesVillains.Models.Character>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (Model.Count() > 0)
{
    <div id="results" style="padding-left:20px; padding-right:20px">
        @{Html.RenderPartial("ShowSearchResults", (IEnumerable<HeroesVillains.Models.Character>)ViewBag.FirstResults);}
    </div>
}

@if (ViewBag.Error != null)
{
<script>
    window.onload = function () {
        swal("Error!", '@ViewBag.Error', "error");
    }
</script>
}
